.features__list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__item {
  width: calc((100%-90px) / 4);
  align-items: flex-start;
}
.features__item:not(:first-child) {
  margin-left: 30px;
}

.features__icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: $ligth-bg;
}

.features__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-light-theme-color;
}

.features__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $description-color;
}
