.social-links {
  display: flex;
}

.social-links__item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.social-links__item:not(:first-child) {
  margin-left: 10px;
}

.social-links__item:hover,
.social-links__item:focus {
  background-color: var(--accent-color);
}

.social-links__link {
  display: flex;
}

.social-links__icon {
  align-self: center;
  fill: var(--icons-light-theme);

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.social-links__item:hover .social-links__icon,
.social-links__item:focus .social-links__icon {
  fill: var(--title-dark-theme-color);
}

.social-links__item--dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links__icon--dark-theme {
  fill: var(--title-dark-theme-color);
}
